<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/styles/css/style.css">
    <title>Chatter</title>
</head>
<body>
    <div class="m-auto m-5 d-flex vw-50 ai-center jc-between">
        <h1>all messages</h1>
        <a href="/chatter/dashboard">dashboard</a>
    </div>

    <div class="m-auto vw-50 br-5 bg-lavender-darken-1 bs-10-lightgray p-5">
        {% for message in messages%}
        
            <div class="bs-10-lavender p-3">
                <h5 class="text-purple">{{message.subject}}</h5>
                <p class="text-purple-lighten-1">{{message.content}}</p>
                <p class="text-purple-lighten-1">{{message.user_id}}</p>
                {% if session["user_id"] == message.user_id %}
                    <a href="#" class="link-indianred">edit</a>
                    <a href="#" class="link-indianred">delete</a>
                {% endif %}
            </div>

        {% endfor %}
    </div>

</body>
</html>