<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/styles/css/style.css">
    <title>Chatter</title>
</head>
<body>
    <a href="/chatter/dashboard">dashboard</a>
    <h1>all messages</h1>

    {% for message in messages%}

        <p>{{message.subject}}</p>
        <p>{{message.content}}</p>

    {% endfor %}
</body>
</html>