<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/styles/css/style.css">
    <link rel="stylesheet" href="./../static/styles/css/bsbr.css">
    <title>Chatter: Login</title>
</head>
<body class="vw-100 vh-100 d-flex jc-center ai-center">
    
    <div class="vw-50 br-5  bg-palette1 bs-10-gray p-5 br-cust">
        <div class="d-flex jc-between ai-center pb-2">
            <h1 class="text-whitesmoke">Login</h1>
            <a href="/register" class="link-whitesmoke">Register</a>
        </div>

        {% with messages = get_flashed_messages() %}     
            {% if messages %}                           
                {% for message in messages %}            
                    <ul class="text-danger" style="text-align: center;">{{message}}</ul>        
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form action="/login-user" method="post">

            <div class="d-flex jc-between ai-center p-1">
                <label class="text-gray-darken-4">Email</label>
                <input class="b-1-lightgray bg-whitesmoke p-1 br-3 type="text" name="email" placeholder="name@mail.com" required>
            </div>
            <div class="d-flex jc-between ai-center p-1">
                <label class="text-gray-darken-4">Password</label>
                <input class="b-1-lightgray bg-whitesmoke p-1 br-3 type="password" name="password" required placeholder="********">
            </div>

            <button class="mt-2 btn-outline-palette3">Submit</button>

        </form>
    </div>
</body>
</html>